<div class="modal-overlay" *ngIf="show" (click)="onOverlayClick()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header" [class]="'type-' + type">
      <h3>{{ title }}</h3>
      <button class="modal-close" (click)="closeModal()">✕</button>
    </div>
    <div class="modal-body" [class]="'type-' + type">
      <p *ngIf="message">{{ message }}</p>
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <app-retro-button
        *ngIf="showConfirmButtons"
        [disabled]="confirmDisabled"
        [variant]="confirmButtonVariant"
        (click)="confirmAction()">
        {{ confirmLabel }}
      </app-retro-button>
      <app-retro-button
        variant="primary"
        (click)="closeModal()">
        {{ showConfirmButtons ? cancelLabel : 'Aceptar' }}
      </app-retro-button>
    </div>
  </div>
</div>

