.verify-container {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.verify-card {
  width: 100%;
  max-width: 500px;
  border: 3px solid #000;
  background: #fff;
  padding: 30px;
  text-align: center;

  &.success {
    border-color: #0f0;
  }

  &.error {
    border-color: #f00;
  }

  h1 {
    margin: 0 0 16px 0;
    font-size: 1.4rem;
  }

  p {
    margin: 0;
  }
}

.back-home {
  margin-top: 16px;

  a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
}


